.admin-container {
    width: 99%;
    height: 1130px;
    margin: 10px;
    border: 2px solid black;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background-color: gold;
  }

  .admin-content{
    font-style: normal;
    color: black;
    margin-left: 50px;
  }